.popup-container {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 6rem 1.25rem;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-family: ui-sans-serif, system-ui, sans-serif;
  user-select: none;
  line-height: 1em;
}

.popup-content-container {
  width: 0;
  height: 0;
  direction: rtl;
}

.popup-content {
  direction: ltr;
  display: fixed;
  background-color: white;
  color: #1f2937;
  border-radius: 0.5rem;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  width: max-content;
  height: min-content;
  padding: 0.5rem 1rem;
  margin: auto 0.5rem 0 0;
  transition: opacity 300ms;
  filter: drop-shadow(0 1px 3px 0 rgba(0, 0, 0, 0.5));
}

.toggle-button {
  --icon-color: black;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
  cursor: pointer;
  border: none;
  background-color: #288cd7;
  &:is([disabled]) {
    --icon-color: dimgrey;
    background-color: grey;
    cursor: not-allowed;
    color: dimgrey;
    & * {
      cursor: not-allowed;
      pointer-events: none;
      color: currentColor;
    }
  }
  & img, svg, object {
    margin: 0.2px;
    pointer-events: none;
  }
}

.toggle-button:hover:not([disabled]) {
  background-color: #1e6aa3;
}

.button-icon {
  padding: 4px;
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}


